In [1]:
using DataFrames
using Plots

In [2]:
train = readtable("train.csv")

891×12 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 880 │ 880         │ 1        │ 1      │
│ 881 │ 881         │ 1        │ 2      │
│ 882 │ 882         │ 0        │ 3      │
│ 883 │ 883         │ 0        │ 3      │
│ 884 │ 884         │ 0        │ 2      │
│ 885 │ 885         │ 0        │ 3      │
│ 886 │ 886         │ 0        │ 3      │
│ 887 │ 887         │ 0        │ 2      │
│ 888 │ 888         │ 1        │ 1      │
│ 889 │ 889         │ 0        │ 3      │
│ 890 │ 890         │ 1        │ 1      │
│ 891 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ "male"   │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ "male"   │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ "female" │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ "female" │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ "female" │
⋮
│ 880 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ "female" │
│ 881 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ "female" │
│ 882 │ "Markun, Mr. Johann"                                  │ "male"   │
│ 883 │ "Dahlberg, Miss. Gerda Ulrika"                        │ "female" │
│ 884 │ "Banfield, Mr. Frederick James"                       │ "male"   │
│ 885 │ "Sutehall, Mr. Henry Jr"                              │ "male"   │
│ 886 │ "Rice, Mrs. William (Margaret Norton)"                │ "female" │
│ 887 │ "Montvila, Rev. Juozas"                               │ "male"   │
│ 888 │ "Graham, Miss. Margaret Edith"                        │ "female" │
│ 889 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ "female" │
│ 890 │ "Behr, Mr. Karl Howell"                               │ "male"   │
│ 891 │ "Dooley, Mr. Patrick"                                 │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │
│ 7   │ 54.0 │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │
│ 8   │ 2.0  │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │
│ 9   │ 27.0 │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │
│ 10  │ 14.0 │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │
│ 11  │ 4.0  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │
⋮
│ 880 │ 56.0 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │
│ 881 │ 25.0 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │
│ 882 │ 33.0 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │
│ 883 │ 22.0 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │
│ 884 │ 28.0 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │
│ 885 │ 25.0 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │
│ 886 │ 39.0 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │
│ 887 │ 27.0 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │
│ 888 │ 19.0 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │
│ 889 │ NA   │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │
│ 890 │ 26.0 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │
│ 891 │ 32.0 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │

│ Row │ Embarked │
├─────┼──────────┤
│ 1   │ "S"      │
│ 2   │ "C"      │
│ 3   │ "S"      │
│ 4   │ "S"      │
│ 5   │ "S"      │
│ 6   │ "Q"      │
│ 7   │ "S"      │
│ 8   │ "S"      │
│ 9   │ "S"      │
│ 10  │ "C"      │
│ 11  │ "S"      │
⋮
│ 880 │ "C"      │
│ 881 │ "S"      │
│ 882 │ "S"      │
│ 883 │ "S"      │
│ 884 │ "S"      │
│ 885 │ "S"      │
│ 886 │ "Q"      │
│ 887 │ "S"      │
│ 888 │ "S"      │
│ 889 │ "S"      │
│ 890 │ "C"      │
│ 891 │ "Q"      │

In [3]:
test = readtable("test.csv")

418×11 DataFrames.DataFrame
│ Row │ PassengerId │ Pclass │
├─────┼─────────────┼────────┤
│ 1   │ 892         │ 3      │
│ 2   │ 893         │ 3      │
│ 3   │ 894         │ 2      │
│ 4   │ 895         │ 3      │
│ 5   │ 896         │ 3      │
│ 6   │ 897         │ 3      │
│ 7   │ 898         │ 3      │
│ 8   │ 899         │ 2      │
│ 9   │ 900         │ 3      │
│ 10  │ 901         │ 3      │
│ 11  │ 902         │ 3      │
⋮
│ 407 │ 1298        │ 2      │
│ 408 │ 1299        │ 1      │
│ 409 │ 1300        │ 3      │
│ 410 │ 1301        │ 3      │
│ 411 │ 1302        │ 3      │
│ 412 │ 1303        │ 1      │
│ 413 │ 1304        │ 3      │
│ 414 │ 1305        │ 3      │
│ 415 │ 1306        │ 1      │
│ 416 │ 1307        │ 3      │
│ 417 │ 1308        │ 3      │
│ 418 │ 1309        │ 3      │

│ Row │ Name                                              │ Sex      │ Age  │
├─────┼───────────────────────────────────────────────────┼──────────┼──────┤
│ 1   │ "Kelly, Mr. James"                                │ "male"   │ 34.5 │
│ 2   │ "Wilkes, Mrs. James (Ellen Needs)"                │ "female" │ 47.0 │
│ 3   │ "Myles, Mr. Thomas Francis"                       │ "male"   │ 62.0 │
│ 4   │ "Wirz, Mr. Albert"                                │ "male"   │ 27.0 │
│ 5   │ "Hirvonen, Mrs. Alexander (Helga E Lindqvist)"    │ "female" │ 22.0 │
│ 6   │ "Svensson, Mr. Johan Cervin"                      │ "male"   │ 14.0 │
│ 7   │ "Connolly, Miss. Kate"                            │ "female" │ 30.0 │
│ 8   │ "Caldwell, Mr. Albert Francis"                    │ "male"   │ 26.0 │
│ 9   │ "Abrahim, Mrs. Joseph (Sophie Halaut Easu)"       │ "female" │ 18.0 │
│ 10  │ "Davies, Mr. John Samuel"                         │ "male"   │ 21.0 │
│ 11  │ "Ilieff, Mr. Ylio"                                │ "male"   │ NA   │
⋮
│ 407 │ "Ware, Mr. William Jeffery"                       │ "male"   │ 23.0 │
│ 408 │ "Widener, Mr. George Dunton"                      │ "male"   │ 50.0 │
│ 409 │ "Riordan, Miss. Johanna Hannah\"\""                 │ "female" │ NA   │
│ 410 │ "Peacock, Miss. Treasteall"                       │ "female" │ 3.0  │
│ 411 │ "Naughton, Miss. Hannah"                          │ "female" │ NA   │
│ 412 │ "Minahan, Mrs. William Edward (Lillian E Thorpe)" │ "female" │ 37.0 │
│ 413 │ "Henriksson, Miss. Jenny Lovisa"                  │ "female" │ 28.0 │
│ 414 │ "Spector, Mr. Woolf"                              │ "male"   │ NA   │
│ 415 │ "Oliva y Ocana, Dona. Fermina"                    │ "female" │ 39.0 │
│ 416 │ "Saether, Mr. Simon Sivertsen"                    │ "male"   │ 38.5 │
│ 417 │ "Ware, Mr. Frederick"                             │ "male"   │ NA   │
│ 418 │ "Peter, Master. Michael J"                        │ "male"   │ NA   │

│ Row │ SibSp │ Parch │ Ticket               │ Fare    │ Cabin  │ Embarked │
├─────┼───────┼───────┼──────────────────────┼─────────┼────────┼──────────┤
│ 1   │ 0     │ 0     │ "330911"             │ 7.8292  │ NA     │ "Q"      │
│ 2   │ 1     │ 0     │ "363272"             │ 7.0     │ NA     │ "S"      │
│ 3   │ 0     │ 0     │ "240276"             │ 9.6875  │ NA     │ "Q"      │
│ 4   │ 0     │ 0     │ "315154"             │ 8.6625  │ NA     │ "S"      │
│ 5   │ 1     │ 1     │ "3101298"            │ 12.2875 │ NA     │ "S"      │
│ 6   │ 0     │ 0     │ "7538"               │ 9.225   │ NA     │ "S"      │
│ 7   │ 0     │ 0     │ "330972"             │ 7.6292  │ NA     │ "Q"      │
│ 8   │ 1     │ 1     │ "248738"             │ 29.0    │ NA     │ "S"      │
│ 9   │ 0     │ 0     │ "2657"               │ 7.2292  │ NA     │ "C"      │
│ 10  │ 2     │ 0     │ "A/4 48871"          │ 24.15   │ NA     │ "S"      │
│ 11  │ 0     │ 0     │ "349220"             │ 7.8958  │ NA     │ "S"      │
⋮
│ 407 │ 1     │ 0     │ "28666"              │ 10.5    │ NA     │ "S"      │
│ 408 │ 1     │ 1     │ "113503"             │ 211.5   │ "C80"  │ "C"      │
│ 409 │ 0     │ 0     │ "334915"             │ 7.7208  │ NA     │ "Q"      │
│ 410 │ 1     │ 1     │ "SOTON/O.Q. 3101315" │ 13.775  │ NA     │ "S"      │
│ 411 │ 0     │ 0     │ "365237"             │ 7.75    │ NA     │ "Q"      │
│ 412 │ 1     │ 0     │ "19928"              │ 90.0    │ "C78"  │ "Q"      │
│ 413 │ 0     │ 0     │ "347086"             │ 7.775   │ NA     │ "S"      │
│ 414 │ 0     │ 0     │ "A.5. 3236"          │ 8.05    │ NA     │ "S"      │
│ 415 │ 0     │ 0     │ "PC 17758"           │ 108.9   │ "C105" │ "C"      │
│ 416 │ 0     │ 0     │ "SOTON/O.Q. 3101262" │ 7.25    │ NA     │ "S"      │
│ 417 │ 0     │ 0     │ "359309"             │ 8.05    │ NA     │ "S"      │
│ 418 │ 1     │ 1     │ "2668"               │ 22.3583 │ NA     │ "C"      │

In [4]:
println("Numbers of Row in Train: ", size(train)[1])
println("Numbers of Row in Test: ", size(test)[1])

Numbers of Row in Train: 891
Numbers of Row in Test: 418

In [5]:
describe(train)

PassengerId
Summary Stats:
Mean:           446.000000
Minimum:        1.000000
1st Quartile:   223.500000
Median:         446.000000
3rd Quartile:   668.500000
Maximum:        891.000000
Length:         891
Type:           Int64
Number Missing: 0
% Missing:      0.000000

Survived
Summary Stats:
Mean:           0.383838
Minimum:        0.000000
1st Quartile:   0.000000
Median:         0.000000
3rd Quartile:   1.000000
Maximum:        1.000000
Length:         891
Type:           Int64
Number Missing: 0
% Missing:      0.000000

Pclass
Summary Stats:
Mean:           2.308642
Minimum:        1.000000
1st Quartile:   2.000000
Median:         3.000000
3rd Quartile:   3.000000
Maximum:        3.000000
Length:         891
Type:           Int64
Number Missing: 0
% Missing:      0.000000

Name
Summary Stats:
Length:         891
Type:           String
Number Unique:  891
Number Missing: 0
% Missing:      0.000000

Sex
Summary Stats:
Length:         891
Type:           String
Number Unique:  2
Number Missing: 0
% Missing:      0.000000

Age
Summary Stats:
Mean:           29.699118
Minimum:        0.420000
1st Quartile:   20.125000
Median:         28.000000
3rd Quartile:   38.000000
Maximum:        80.000000
Length:         714
Type:           Float64
Number Missing: 177
% Missing:      19.865320

SibSp
Summary Stats:
Mean:           0.523008
Minimum:        0.000000
1st Quartile:   0.000000
Median:         0.000000
3rd Quartile:   1.000000
Maximum:        8.000000
Length:         891
Type:           Int64
Number Missing: 0
% Missing:      0.000000

Parch
Summary Stats:
Mean:           0.381594
Minimum:        0.000000
1st Quartile:   0.000000
Median:         0.000000
3rd Quartile:   0.000000
Maximum:        6.000000
Length:         891
Type:           Int64
Number Missing: 0
% Missing:      0.000000

Ticket
Summary Stats:
Length:         891
Type:           String
Number Unique:  681
Number Missing: 0
% Missing:      0.000000

Fare
Summary Stats:
Mean:           32.204208
Minimum:        0.000000
1st Quartile:   7.910400
Median:         14.454200
3rd Quartile:   31.000000
Maximum:        512.329200
Length:         891
Type:           Float64
Number Missing: 0
% Missing:      0.000000

Cabin
Summary Stats:
Length:         891
Type:           String
Number Unique:  148
Number Missing: 687
% Missing:      77.104377

Embarked
Summary Stats:
Length:         891
Type:           String
Number Unique:  4
Number Missing: 2
% Missing:      0.224467

In [6]:
eltypes(train)

12-element Array{Type,1}:
 Int64
 Int64
 Int64
 String
 String
 Float64
 Int64
 Int64
 String
 Float64
 String
 String

In [7]:
eltypes(test)

11-element Array{Type,1}:
 Int64
 Int64
 String
 String
 Float64
 Int64
 Int64
 String
 Float64
 String
 String

In [8]:
counts(train[:Survived])

2-element Array{Int64,1}:
 549
 342

In [9]:
countmap(train[:Survived])

Dict{Union{DataArrays.NAtype, Int64},Int64} with 2 entries:
  0 => 549
  1 => 342

In [10]:
proportionmap(train[:Survived])

Dict{Union{DataArrays.NAtype, Int64},Float64} with 2 entries:
  0 => 0.616162
  1 => 0.383838

In [11]:
using Gadfly

WARNING: both Gadfly and Base export "cross"; uses of it in module Main must be qualified
WARNING: both Gadfly and Plots export "hline"; uses of it in module Main must be qualified
WARNING: both Gadfly and Plots export "plot"; uses of it in module Main must be qualified
WARNING: both Gadfly and Plots export "px"; uses of it in module Main must be qualified
WARNING: both Gadfly and Plots export "spy"; uses of it in module Main must be qualified
WARNING: both Gadfly and Plots export "vline"; uses of it in module Main must be qualified

In [12]:
plot(x=rand(10), y=rand(10))

LoadError: UndefVarError: plot not defined